In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("PrePlacement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [4]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [5]:
dataset.drop('sl_no',inplace=True,axis=1)

In [6]:
#### Independant Sample- Unpaired T Test
#Diferrent Group(Male, Female) but same contion(salary)

In [7]:
dataset[dataset['gender']=='F']["salary"]

6           0.0
12          0.0
13     218000.0
15     200000.0
17          0.0
         ...
197    260000.0
198         0.0
204    210000.0
208         0.0
213    204000.0
Name: salary, Length: 76, dtype: float64

In [8]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
male = dataset[dataset['gender']=='M']['salary']
female = dataset[dataset['gender']=='F']['salary']
#print(male)
ttest_ind(male, female)

Ttest_indResult(statistic=2.0937842507001165, pvalue=0.03746230397067219)

In [9]:
#### Dependant Sample-Paired T_Test
## Same Group(Male) but Different Condition(ssc_p,hsc_p)

In [10]:
from scipy.stats import ttest_rel
#dataset=dataset.dropna()
male = dataset[dataset['gender']=='M']['ssc_p']
male1 = dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male, male1)

Ttest_relResult(statistic=0.6842940392688153, pvalue=0.4949370716000775)

In [11]:
# Hypothesis Testing

In [12]:
#Statement: Test whether SSC_p of male and HSC_P of Male is Same?

In [13]:
#Null hypothesis=There is no similarity between 10th pass mark of male  and 12th pass mark of male

# Hypothesis Testing
## Statement: Test whether SSC_p of male and HSC_P of Male is Same.
Null hypothesis=There is no significant difference between 10th pass mark of male  and 12th pass mark of male.

Alternative hypothesis=There is a significant difference between 10th pass mark of male  and 12th pass mark of male

In [14]:
from scipy.stats import ttest_rel
#dataset=dataset.dropna()
male = dataset[dataset['gender']=='M']['ssc_p']
male1 = dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male, male1)

Ttest_relResult(statistic=0.6842940392688153, pvalue=0.4949370716000775)

# ANOVA - ONE WAY

In [15]:
import scipy.stats as stats

stats.f_oneway(dataset['ssc_p'],dataset['degree_p'])

F_onewayResult(statistic=1.1235190724586601, pvalue=0.2897597593480568)

# TWO WAY ANOVA
## Statement: Is there a significant difference in Salaries among students with different UG degree and MBA specialisations.

Null hypothesis: There is no significant difference in Salaries among students with different UG degree and MBA specialisations.
    
Alternate hypothesis: There is a significant difference in Salaries among students with different UG degree and MBA specialisations.

In [16]:
import statsmodels.api as sm 
from statsmodels.formula.api import ols

In [17]:
model = ols('salary ~ C(degree_t) + C(specialisation) + C(degree_t):C(specialisation)', data=dataset).fit() 
anova_table = sm.stats.anova_lm(model, type=2) 
print(anova_table)

                                  df        sum_sq       mean_sq          F  \
C(degree_t)                      2.0  8.170645e+10  4.085322e+10   1.951294
C(specialisation)                1.0  3.654610e+11  3.654610e+11  17.455702
C(degree_t):C(specialisation)    2.0  1.176281e+10  5.881406e+09   0.280917
Residual                       209.0  4.375725e+12  2.093648e+10        NaN

                                 PR(>F)
C(degree_t)                    0.144670
C(specialisation)              0.000043
C(degree_t):C(specialisation)  0.755376
Residual                            NaN

In [18]:
result= pd.DataFrame(anova_table)
result

,df,sum_sq,mean_sq,F,PR(>F)
C(degree_t),2.0,8.170645e+10,4.085322e+10,1.951294,0.144670
C(specialisation),1.0,3.654610e+11,3.654610e+11,17.455702,0.000043
C(degree_t):C(specialisation),2.0,1.176281e+10,5.881406e+09,0.280917,0.755376
Residual,209.0,4.375725e+12,2.093648e+10,NaN,NaN

C(degree_t) : Since p > 0.05, there is no statistically significant effect of degree_t  on salary.

C(specialisation):Since p < 0.05, specialisation significantly affects salary.

C(degree_t):C(specialisation):Since p > 0.05, the interaction between degree_t and specialisation is not significant.
degree type does not change how specialisation impacts salary.